<div class="p-5"
  style="background:url('assets/img/car2.jpg');  background-size: cover;  background-repeat:no-repeat;background-attachment: fixed;">


  <div class=" col-sm-10 col-lg-4 col-md-8 p-5">

    <h1 class="card-header text-white" style="background: rgb(0,0,0,0.5);">Forgot</h1>
    <div class="card ">



      <div class="card-body">

        <h5 class="card-title">Enter PLease</h5>
        <form [formGroup]="myform" class="form-group">
          <div class="card-text">

            <div class="form-group">
              Name
              <input type="email" placeholder="Name" required class="form-control" formControlName="name" />
            </div>
            <div class="form-group">
              Email
              <input type="email" placeholder="Email" required class="form-control" formControlName="email" />
            </div>
            <div class="form-group">
              <div class="alert alert-danger" role="alert">
                Enter your Register Email & User Name<br>
                WE send mail that contain password
              </div>

            </div>
            <div class="form-group">
              <div *ngIf="ispassword" class="alert alert-success" role="alert">
                Email Sent
              </div>

            </div>
          </div>
          <input type="submit" class="btn btn-primary" (click)="logout()">
        </form>
      </div>
      <div class="card-footer text-muted">
        <a class="nav-link" [routerLink]="['/login']">Login</a>

      </div>
    </div>
  </div>
</div>