<div class="d-block m-5 p-3 w-25 container"  style="float: right;">
    <h1>SERVICE CATEGORY  <i class="fa fa-tags" aria-hidden="true"></i></h1>
        <input type="text" id="Search" class="form-control" placeholder="Search User">
        
    
    </div>
    <div class="container" style="overflow: auto;" >
            <table id="usertable" class="table table table-striped table-bordered table-hover">
                    <thead>
                        <th scope="col">Service_Name</th>
                        <th scope="col">Service_Price</th>
                        <th scope="col">Service_Description</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cate of category">
                       
                        <td>{{cate.Service_Name}}</td>
                        <td>{{cate.Service_Price}}</td>
                        <td>{{cate.Service_Description}}</td>
                        
                        <td><button class="btn btn-info" (click)="edit(cate._id)"><i class="fas fa-pencil-alt"></i></button></td>
                        <td><button class="btn btn-danger" (click)="delete(cate._id)"><i class="far fa-trash-alt"></i></button></td>
                      </tr>
                
                    </tbody>
                  </table>
                  <div class="justify-content-center">
                  <button class="btn btn-success" (click)="add()"><i class="fas fa-plus"></i> Add new</button>
                    </div>
    </div>
    
    