<div class="p-5"
    style="background:url('assets/img/car3.jpg');  background-size: cover;  background-repeat:no-repeat;background-attachment: fixed;">


    <div class="col-sm-10 col-lg-4 col-md-8">
        <h1 class="card-header text-white">Add Service</h1>
        <div class="card  ">


            
           <div class="card-body">

                <h5 class="card-title">Enter Details</h5>
                <form [formGroup]="myform" class="form-group">
                    <div class="card-text">
                        <div class="form-group">
                            Service_Name
                            <select class="form-control" formControlName="Service_Category_Id" [(ngModel)]="price">
                                <option *ngFor="let c of servicecate" [ngValue]="c._id">{{c.Service_Name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                                Service_Price
                               
                             <ng-container *ngFor="let c of servicecate"> 
                                 <label class="form-control" *ngIf="price==c._id">{{c.Service_Price}}</label>
                             </ng-container>
                                
                            </div>
                        <div class="form-group">
                                Service_Car_No
                            <input type="text" placeholder="Service_Car_No" required class="form-control"
                                formControlName="Service_Car_No" />
                        </div>
                        
                        <div class="form-group" *ngIf="ispassword">
                            <div class="alert alert-danger">Some Thing Wrong!</div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" (click)="add()">
                </form>
            </div>
            <div class="card-footer text-muted">
                Thank you?.
            </div>
        </div>
    </div>
</div>